// Globar vars for using in sass. Keep scss format for better readability on maps
//Breakpoints
$breakpoints: (
  'smaller': (min-width:600px),
  'small':  ( min-width:  768px ),
  'medium': ( min-width:  960px ),
  'large':  ( min-width: 1366px )
);
$hover: ( hover: hover );
$no-hover: ( hover: none );
$pointer: ( pointer: fine );