@use '../abstracts' as *
@use 'vars' as *
@use 'helpers' as *
:root
  --color__bg: #{color('blue-desat', 'darker')}
  //--color__main: #{color('blue-desat', 'lighter')}
  --color__accent: #{color('blue-desat', 'dark')}
  --color__txt: #{color('blue-desat', 'lighter')}
  --color__txt--accent: #{color('blue-desat','base')}
  --sp__sides: 4%
  --alpha__links: 0.7
  --trans__txt: 0.4s ease-in
  @include breakpoint('large')
    --sp__sides: auto 1.6%
@import-normalize
html
  box-sizing: border-box
  font-size: 62.5% // 1rem = 10px
  height: 100%
*, *:before, *:after
  box-sizing: inherit
body, p, ul, h1, h2, h3, h4, h5, h6
  margin: 0
ul
  padding: 0
  list-style: none
body
  // footer fix
  @extend .flex
  flex-direction: column
  min-height: 100%
  // defaults
  color: $color__bg
  font-family: $typo__main
  font-size: 1.6rem // 1rem = 10px
img
  max-width: 100% // responsive