section.masonry

  a(href="#").item.featured
    div
      h2 Offer
      p Get up to 25% Off
  a(href="#").item
    div
      h3 Buy two items
      p Get one for free
  a(href="#").item
    div
      h3 New Arrivals
      p Footwear
  a(href="#").item
    div
      h3 New Arrivals
      p Women's
  a(href="#").item
    div
      h3 New Arrivals
      p Kids
  a(href="#").item
    div
      h3 New Arrivals
      p Men