.cards__container
  .cards__item
    img(src="https://i.postimg.cc/y8YMt7Qf/Pngtree-white-mug-and-coffee-png-4425302.png", alt="")
    h2 Cappuccino
    h4 Nutritional value
      span 150
    p $45.20/p 
    button Buy
  .cards__item
    img(src="https://i.postimg.cc/y8YMt7Qf/Pngtree-white-mug-and-coffee-png-4425302.png", alt="")
    h2 Americano
    h4 Nutritional value
      span 15
    p $45.20/p 
    button Buy
  .cards__item
    img(src="https://i.postimg.cc/y8YMt7Qf/Pngtree-white-mug-and-coffee-png-4425302.png", alt="")
    h2 Espresso
    h4 Nutritional value
      span 3
    p $45.20/p 
    button Buy