section.slideshow
  ul
    li
      .overlay 
        h3 high quality
    li
      .overlay
        h3 best price
    li
      .overlay 
        h3 rich taste
    li
      .overlay 
        h3 great aroma
    li
      .overlay
        h3 free delivery
    li
      .overlay
        h3 discounts every monday