//- ADD here any global variable to be used across all template pages. Like JSON data, titles, functions, etc.
//- when using node express or any server probably you want to delete this file and export functions here to the main js file.
-
  let root = CONFIG.basedir
  let page
  let pageTitle